---
import { actions } from "astro:actions";

export interface Props {
	title: string;
	ideas: Array<{ id: number; text: string; good: boolean }>;
}

const { title, ideas } = Astro.props;
---

<div class="box">
	<h2>{title}</h2>
	<ul>
		{
			ideas.map((idea) => (
				<Fragment key={idea.id}>
					<li class="with-controls">
						<div>{idea.text}</div>
					</li>
				</Fragment>
			))
		}
	</ul>
</div>
